@model MVCTest.Models.Cliente
<h1>Hola Mundo!</h1>
<form asp-controller="Cliente" asp-action="ConsultaCliente" method="post">
<input type="text" name="nombre"></input>
<input type="text" name="edad"></input>
<input type="submit">submit</input>
</form>